.profile__add-button {
    width: 150px;
    height: 50px;
    margin: auto  0 auto auto;
    background-color: rgba(255, 255, 255,0);
    border: 2px solid white;
    border-radius: 2px;
    cursor: pointer;
    transition: opacity .4s;
}
.profile__add-button:hover {
    opacity: 0.6;
}
@media screen and  (max-width: 767px){
    .profile__add-button {
        width: 282px;
        min-height: 50px;
        margin: 0;
    }
} 