.header {
    min-height: 74px;
    border-bottom: 1px solid rgba(84,84,84, 0.7);
    margin-bottom: 36px;
}
@media screen and  (max-width: 767px){
    .header {
        max-width: 320px;
        min-height: 55px;
        margin-bottom: 38px;
    }
}